<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Barbershop Manager</title>
    <link rel="stylesheet" href="/static/style.css">
   
</head>

<body>

    <h1>Cadastro Cliente</h1>
    <form id="clienteForm">        
        <input type="hidden" id="clienteId">
        <input type="text" id="nome" placeholder="Nome">
        <br><br>
        <input type="text" id="telefone" placeholder="Telefone">
        <br><br>
        <button type="submit" id="botaoSalvar">Salvar Cliente</button>
        
    </form>
    <p id="mensagem"></p>

    <h2>Clientes</h2>
    <h3 id="totalClientes"></h3>
    <p id="clientesEncontrados"></p>

    <input type="text" id="buscarCliente" placeholder="Buscar cliente">
    <p id="loadingClientes"></p>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="lista-clientes">

        </tbody>
    </table>
    <div id="modalEditar" class="modal">
        <div class="modal-conteudo">
            <div class="modal-topo">
                <h2>Editar Cliente</h2>
                <span class="fechar-modal" onclick="fecharModal()">
                    X
                </span>
            </div>
            
            <input type="hidden" id="modalClienteId">
            <input type="text" id="modalNome" placeholder="Nome">
            <br><br>
            <input type="text" id="modalTelefone" placeholder="Telefone">
            <br><br>
            <button onclick="salvarEdicao()">
                Salvar Alterações
            </button>
            <button type="button" id="botaoCancelar" onclick="fecharModal()">
                Cancelar
            </button>
            <button onclick="fecharModal()">
                Fechar
            </button>

        </div>

    </div>
    <script src="/static/app.js"></script>
</body>

</html>